<h1>Avocado Now!</h1>
<h2>Hi <%=@user.name%></h2>

<h3>You've Confirmed <span class='bubble'><%=@thumb_count%></span> place<%=@thumb_count != 1 ? 's' : ''%></h3>

<hr>
<h3>Places I've Added</h3>
<%@user.places.each_with_index do |place, i|%>
	<div class="paddit <%=i.even? ? 'even' : 'odd'%>">
		<a href="/places/<%=place.id%>"><%=place.name%></a> 
		<br>
		<%=place.created_at.strftime("Avocados spotted at: %H:%M  %m/%d ")%> 
		<br>
	</div>
<%end%>